<div class="board">
  <div class="columns-container"
       cdkDropList
       cdkDropListOrientation="horizontal"
       [cdkDropListData]="board.columns"
       (cdkDropListDropped)="onColumnDrop($event)">
    
    <div *ngFor="let column of board.columns"
         class="column"
         [id]="column.id"
         cdkDrag
         [cdkDragData]="column">
      <div class="column-header">
        <h2>{{ column.title }}</h2>
        <div class="column-actions">
          <button mat-icon-button color="primary" (click)="onAddCard(column.id)">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDeleteColumn(column.id, $event)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <div class="cards-container"
           cdkDropList
           [id]="column.id"
           [cdkDropListData]="column.cards"
           [cdkDropListConnectedTo]="getConnectedLists(column)"
           (cdkDropListDropped)="onCardDrop($event)">
        
        <div *ngFor="let card of column.cards"
             class="card"
             [id]="card.id"
             cdkDrag
             [cdkDragData]="card">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ card.title }}</mat-card-title>
              <button mat-icon-button color="warn" class="delete-card-button" (click)="onDeleteCard(card.id, column.id, $event)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-header>
            <mat-card-content>
              <p>{{ card.description }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="add-column">
      <button mat-raised-button 
              color="primary" 
              class="add-column-button" 
              (click)="onAddColumn()">
        <mat-icon>add</mat-icon>
        Add Column
      </button>
    </div>
  </div>
</div>
